In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [2]:
customer_df = pd.read_csv("180601_Customer_Info.csv")
customer_df.head()

   customer_id sign_up_date           sign_up_channel
0         2543   2021-04-26  Price Comparison Website
1         2181   2021-07-24                  Referral
2         2399   2020-10-11              Bulb Website
3          674   2021-04-04                  Referral
4         2332   2021-09-05  Price Comparison Website

In [33]:
customer_df.drop_duplicates()

      customer_id sign_up_date           sign_up_channel
0            2543   2021-04-26  Price Comparison Website
1            2181   2021-07-24                  Referral
2            2399   2020-10-11              Bulb Website
3             674   2021-04-04                  Referral
4            2332   2021-09-05  Price Comparison Website
...           ...          ...                       ...
1694          820   2021-07-17                  Referral
1695         1945   2020-12-20  Price Comparison Website
1696         2132   2021-11-29              Bulb Website
1697         2228   2021-10-11                  Referral
1698          722   2020-02-21              Bulb Website

[1699 rows x 3 columns]

In [3]:
customer_df.info

<bound method DataFrame.info of       customer_id sign_up_date           sign_up_channel
0            2543   2021-04-26  Price Comparison Website
1            2181   2021-07-24                  Referral
2            2399   2020-10-11              Bulb Website
3             674   2021-04-04                  Referral
4            2332   2021-09-05  Price Comparison Website
...           ...          ...                       ...
1694          820   2021-07-17                  Referral
1695         1945   2020-12-20  Price Comparison Website
1696         2132   2021-11-29              Bulb Website
1697         2228   2021-10-11                  Referral
1698          722   2020-02-21              Bulb Website

[1699 rows x 3 columns]>

In [4]:
customer_df.value_counts()

customer_id  sign_up_date  sign_up_channel
0            2020-06-20    Price Comparison Website    1
2296         2021-03-01    Price Comparison Website    1
2294         2021-12-28    Price Comparison Website    1
2293         2021-08-08    Bulb Website                1
2292         2021-07-25    Price Comparison Website    1
                                                      ..
698          2021-05-01    Referral                    1
697          2021-07-23    Referral                    1
696          2021-07-18    Referral                    1
695          2021-04-25    Referral                    1
2853         2020-12-25    Price Comparison Website    1
Length: 1699, dtype: int64

In [5]:
customer_df["sign_up_date"]= pd.to_datetime(customer_df["sign_up_date"])
customer_df["sign_up_date"].dtype

dtype('<M8[ns]')

In [6]:
referral_df = pd.read_csv("180601_Referrals_Info.csv")
referral_df.head()

  referral_date  referrer_customer_id  sign_up_customer_id
0    2021-07-18                   795                 1771
1    2021-04-12                   577                 1510
2    2021-07-07                   868                 1858
3    2021-10-25                   801                 1778
4    2021-08-15                   690                 1637

In [7]:
referral_df.value_counts()

referral_date  referrer_customer_id  sign_up_customer_id
2020-03-13     539                   1469                   1
2021-09-10     479                   1395                   1
2021-09-07     423                   1331                   1
               703                   1651                   1
2021-09-08     8                     1253                   1
                                                           ..
2021-07-16     371                   1270                   1
               522                   1445                   1
               653                   1594                   1
2021-07-17     6                     1588                   1
2022-01-03     292                   1696                   1
Length: 1000, dtype: int64

In [ ]:
#referral_df.rename(columns={"sign_up_customer_id": "customer_id"},inplace=True)

In [9]:
referral_df["referral_date"] = pd.to_datetime(referral_df["referral_date"])

In [10]:
referral_df["referral_date"].dtype

dtype('<M8[ns]')

In [11]:
referral_df.head()

  referral_date  referrer_customer_id  sign_up_customer_id
0    2021-07-18                   795                 1771
1    2021-04-12                   577                 1510
2    2021-07-07                   868                 1858
3    2021-10-25                   801                 1778
4    2021-08-15                   690                 1637

In [13]:
df = pd.concat([customer_df, referral_df])
df.head()

,customer_id,sign_up_date,sign_up_channel,referral_date,referrer_customer_id,sign_up_customer_id
0,2543.0,2021-04-26,Price Comparison Website,NaT,NaN,NaN
1,2181.0,2021-07-24,Referral,NaT,NaN,NaN
2,2399.0,2020-10-11,Bulb Website,NaT,NaN,NaN
3,674.0,2021-04-04,Referral,NaT,NaN,NaN
4,2332.0,2021-09-05,Price Comparison Website,NaT,NaN,NaN

In [14]:
df.shape

(2699, 6)

In [15]:
df["referrer_customer_id"].dtype

dtype('float64')

In [16]:
df["referrer_customer_id"] =np.nan_to_num(df["referrer_customer_id"]).astype(int)

In [17]:
df["referrer_customer_id"].dtype

dtype('int64')

In [18]:
df["customer_id"] =np.nan_to_num(df["customer_id"]).astype(int)

In [20]:
df["customer_id"].dtype

dtype('int64')

In [21]:
df["sign_up_customer_id"] =np.nan_to_num(df["sign_up_customer_id"]).astype(int)
df["sign_up_customer_id"].dtype

dtype('int64')

In [27]:
df.loc[:, "referral_days"] = (df["referral_date"] - df["sign_up_date"])/ np.timedelta64(24, "h")

In [28]:
df.tail()

,customer_id,sign_up_date,sign_up_channel,referral_date,referrer_customer_id,sign_up_customer_id,referral_days
995,0,NaT,NaN,2021-07-17,812,1789,NaN
996,0,NaT,NaN,2021-12-15,156,1031,NaN
997,0,NaT,NaN,2021-07-20,601,1537,NaN
998,0,NaT,NaN,2021-07-11,440,1350,NaN
999,0,NaT,NaN,2021-09-04,55,928,NaN

In [29]:
no_of_days = df["referral_days"].notnull()

In [25]:
no_of_days

0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Name: referral_days, Length: 2699, dtype: bool

In [ ]:
df.head(1000)