In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [13]:
customer_df = pd.read_csv("180601_Customer_Info.csv")
customer_df.head()

   customer_id sign_up_date           sign_up_channel
0         2543   2021-04-26  Price Comparison Website
1         2181   2021-07-24                  Referral
2         2399   2020-10-11              Bulb Website
3          674   2021-04-04                  Referral
4         2332   2021-09-05  Price Comparison Website

In [14]:
customer_df.info

<bound method DataFrame.info of       customer_id sign_up_date           sign_up_channel
0            2543   2021-04-26  Price Comparison Website
1            2181   2021-07-24                  Referral
2            2399   2020-10-11              Bulb Website
3             674   2021-04-04                  Referral
4            2332   2021-09-05  Price Comparison Website
...           ...          ...                       ...
1694          820   2021-07-17                  Referral
1695         1945   2020-12-20  Price Comparison Website
1696         2132   2021-11-29              Bulb Website
1697         2228   2021-10-11                  Referral
1698          722   2020-02-21              Bulb Website

[1699 rows x 3 columns]>

In [15]:
customer_df.value_counts()

customer_id  sign_up_date  sign_up_channel
0            2020-06-20    Price Comparison Website    1
2296         2021-03-01    Price Comparison Website    1
2294         2021-12-28    Price Comparison Website    1
2293         2021-08-08    Bulb Website                1
2292         2021-07-25    Price Comparison Website    1
                                                      ..
698          2021-05-01    Referral                    1
697          2021-07-23    Referral                    1
696          2021-07-18    Referral                    1
695          2021-04-25    Referral                    1
2853         2020-12-25    Price Comparison Website    1
Length: 1699, dtype: int64

In [17]:
customer_df["sign_up_date"]= pd.to_datetime(customer_df["sign_up_date"])
customer_df["sign_up_date"].dtype

dtype('<M8[ns]')

In [5]:
referral_df = pd.read_csv("180601_Referrals_Info.csv")
referral_df.head()

  referral_date  referrer_customer_id  sign_up_customer_id
0    2021-07-18                   795                 1771
1    2021-04-12                   577                 1510
2    2021-07-07                   868                 1858
3    2021-10-25                   801                 1778
4    2021-08-15                   690                 1637

In [6]:
referral_df.value_counts()

referral_date  referrer_customer_id  sign_up_customer_id
2020-03-13     539                   1469                   1
2021-09-10     479                   1395                   1
2021-09-07     423                   1331                   1
               703                   1651                   1
2021-09-08     8                     1253                   1
                                                           ..
2021-07-16     371                   1270                   1
               522                   1445                   1
               653                   1594                   1
2021-07-17     6                     1588                   1
2022-01-03     292                   1696                   1
Length: 1000, dtype: int64

In [7]:
referral_df.rename(columns={"sign_up_customer_id": "customer_id"},inplace=True)

In [10]:
referral_df["referral_date"] = pd.to_datetime(referral_df["referral_date"])

In [11]:
referral_df["referral_date"].dtype

dtype('<M8[ns]')

In [11]:
referral_df.head()

  referral_date  referrer_customer_id  customer_id
0    2021-07-18                   795         1771
1    2021-04-12                   577         1510
2    2021-07-07                   868         1858
3    2021-10-25                   801         1778
4    2021-08-15                   690         1637

In [12]:
df = pd.merge(left=cusomer_df,right=referral_df, on='customer_id', how='outer')
df.head()

,customer_id,sign_up_date,sign_up_channel,referral_date,referrer_customer_id
0,2543,2021-04-26,Price Comparison Website,NaN,NaN
1,2181,2021-07-24,Referral,NaN,NaN
2,2399,2020-10-11,Bulb Website,NaN,NaN
3,674,2021-04-04,Referral,NaN,NaN
4,2332,2021-09-05,Price Comparison Website,NaN,NaN

In [13]:
df.shape

(2687, 5)

In [14]:
df.tail()

,customer_id,sign_up_date,sign_up_channel,referral_date,referrer_customer_id
2682,1789,NaN,NaN,2021-07-17,812.0
2683,1031,NaN,NaN,2021-12-15,156.0
2684,1537,NaN,NaN,2021-07-20,601.0
2685,1350,NaN,NaN,2021-07-11,440.0
2686,928,NaN,NaN,2021-09-04,55.0

In [18]:
def convert(df):
    for i in df:
        if i != "NaN":
            res = i.astype(int)
    return res

In [19]:
df["referrer_customer_id"] = df["referrer_customer_id"].apply(convert)

TypeError: 'float' object is not iterable